*{margin: 0;
padding: 0;}
.join .contain { padding-left: 6px; margin-top: 10px; display: inline-block; line-height:28px; font-size:14px;}
.infos {
  width: 70%;
  height: 42px;
  line-height: 42px;
  margin: 0 auto;
  margin-top: 100px;
}
.infos p{float: left;}
.infos span{
  float: right;
}
.infos img{
  width: 66px;
  height: 42px;
  float: right;
}
