*{margin: 0;
padding: 0;}
a{text-decoration: none;}
ul li {list-style:none;}
.Top_Navs{width: 100%;height: 1400px;}
.Top_Navs .Nav_cs{width: 100%;height: 200px;text-align: center;margin-top: 50px;}
.Top_Navs .Nav_cs img{ width: 100px;height: 150px;}
.Top_Navs .activity_bm{background-color: #400208;height: 100px;width: 100%;}
.Top_Navs .activity_bm h2 {text-align: center;color: #fff;padding-top: 20px;}
.Top_Navs .activity_bm p {text-align: center;color: #fff;padding-top: 10px;}
.container{
    width: 960px;
    margin: 0 auto;
}
table{
    overflow: hidden;
    zoom:1;
    margin: 0 auto;
}
table td{
    padding: 10px;
}
input {
    width: 500px;
    height: 30px;
}
.visible{
    display: table-row;
}
.right{
    color: green;
    display: table-row;
}
.wrong{
    color: red;
    display: table-row;
}
.hint{
    display: none;
}
label{
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: right;
}
.activity_footers{
  width: 500px;
  height: 60px;
  border-radius: 10px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  background-color: #fca50b;
}
.hint-item{width: 500px;}
